.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-header {
  padding: 2px;
  border: 1px solid black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-row {
  padding: 2px;
  border: 1px solid black;
}